{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals"   : {
    /* MOCHA */
    "describe"   : false,
    "it"         : false,
    "before"     : false,
    "beforeEach" : false,
    "after"      : false,
    "afterEach"  : false
  }
}
